name: Stock Bot Scheduler

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * 1'      # Every Monday
    - cron: '0 4 1 * *'      # 1st of every month

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: pip install yfinance pandas numpy ta openpyxl

      - name: Run Bot
        run: python stock_bot_monthly.py
